@import url('https://fonts.googleapis.com/css?family=Bungee|Rubik&display=swap');
body {
    text-align: center;
    color: white;
    background-color: black;
    font-family: 'Bungee', cursive;
}

.image-section {
    display: flex;
    justify-content: center;
}

.section-style {
    margin-right: 25px;
    margin-left: 25px;
}

.link-section {
    width: auto;
    padding: 5px;
    justify-content: center;
    display: flex;    
}